.principles {
  background-color: $d_bg;
  padding: 65px 0;
  &__holder {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
  }
  &__title {
    text-transform: uppercase;
    text-align: center;
    @include font(osw,30,$main,false,false,700);
    margin: 0 0 25px;
  }
  &__text {
    text-align: center;
    @include font(osw,16,#fff,false,24,200);
    margin: 0 0 55px;
  }
  &__list {
    @include flex(row, nowrap, center, flex-start);
  }
  &__item {
    width: 200px;
    padding: 0 10px;
    text-align: center;
  }
  &__img {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 0 25px;
    svg {
      display: inline-block;
      vertical-align: middle;
      fill: $main;
      width: 45px;
      height: 45px;
    }
  }
  &__name {
    text-transform: uppercase;
    @include font(osw,20,#fff,false,false,700);
    text-align: center;
    margin: 0 0 25px;
  }
  &__text-box {
    @include font(osw,16,#fff,false,24,200);
  }
}
