.top-block {
  border-top: 15px solid #11343a;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1050px;
  position: relative;
  &__holder {
    background-color: rgba(0,0,0,0.5);
    padding: 65px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
  }
  &__holder-text {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    display: inline-block;
    text-transform: uppercase;
    @include font(osw,65,#fff,false,70,700);
    text-align: center;
    max-width: 700px;
    margin: 0 0 45px;
  }
  &__holder-btn {
    text-align: center;
  }
  &__btn-link {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 230px;
    height: 60px;
    background-color: $main;
    @include font(osw,20,#000,false,60,700);
    transition: color, background-color .3s ease-in-out;
    &:hover {
      background-color: #fff;
      color: $main;
    }
  }
}
