<div class="tabs">
  <ul class="tabs-controls">
    <li class="tabs-controls__item active" data-class="first">
      <a href="#" class="tabs-controls__link">All</a>
    </li>
    <li class="tabs-controls__item" data-class="second">
      <a href="#" class="tabs-controls__link">Web design</a>
    </li>
    <li class="tabs-controls__item" data-class="third">
      <a href="#" class="tabs-controls__link">Graphic design</a>
    </li>
    <li class="tabs-controls__item" data-class="fourth">
      <a href="#" class="tabs-controls__link">Photography</a>
    </li>
    <li class="tabs-controls__item" data-class="fifth">
      <a href="#" class="tabs-controls__link">Illustration</a>
    </li>
  </ul>
  <ul class="tabs-list">
    <li class="tabs-list__item tabs-list__item-first active">
      <div class="gallery">
        <div class="gallery__image">
          <img src="data/gallery/img1.jpg" alt="gallery" title="gallery">
        </div>
        <div class="gallery__info">
          <div class="gallery__title">Our awesome image</div>
          <div class="gallery__text">
            <p>
              Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
              Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur
              aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci
              dunt. Cras ultricies ligula sed magna dictum porta. Curabitur non
              nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien
              massa, convallis a pellentesque nec, egestas non nisi. Mauris blan
              dit aliquet elit, eget tincidunt ni dictum porta.
            </p>
          </div>
          <a href="" class="gallery__btn-link">View live</a>
        </div>
      </div>
      <div class="works-gallery">
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work1.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work2.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work3.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work4.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work5.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work6.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work7.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work8.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work9.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work10.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work11.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work12.jpg" alt="work" title="work">
        </a>
      </div>
    </li>
    <li class="tabs-list__item tabs-list__item-second">
      <div class="gallery">
        <div class="gallery__image">
          <img src="data/gallery/img2.jpg" alt="gallery" title="gallery">
        </div>
        <div class="gallery__info">
          <div class="gallery__title">Our awesome image</div>
          <div class="gallery__text">
            <p>
              Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
              Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur
              aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci
              dunt. Cras ultricies ligula sed magna dictum porta. Curabitur non
              nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien
              massa, convallis a pellentesque nec, egestas non nisi. Mauris blan
              dit aliquet elit, eget tincidunt ni dictum porta.
            </p>
          </div>
          <a href="" class="gallery__btn-link">View live</a>
        </div>
      </div>
      <div class="works-gallery">
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work1.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work2.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work3.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work4.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work5.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work6.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work7.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work8.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work9.jpg" alt="work" title="work">
        </a>
      </div>
    </li>
    <li class="tabs-list__item tabs-list__item-third">
      <div class="gallery">
        <div class="gallery__image">
          <img src="data/gallery/img1.jpg" alt="gallery" title="gallery">
        </div>
        <div class="gallery__info">
          <div class="gallery__title">Our awesome image</div>
          <div class="gallery__text">
            <p>
              Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
              Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur
              aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci
              dunt. Cras ultricies ligula sed magna dictum porta. Curabitur non
              nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien
              massa, convallis a pellentesque nec, egestas non nisi. Mauris blan
              dit aliquet elit, eget tincidunt ni dictum porta.
            </p>
          </div>
          <a href="" class="gallery__btn-link">View live</a>
        </div>
      </div>
      <div class="works-gallery">
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work7.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work8.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work9.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work10.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work11.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work12.jpg" alt="work" title="work">
        </a>
      </div>
    </li>
    <li class="tabs-list__item tabs-list__item-fourth">
      <div class="gallery">
        <div class="gallery__image">
          <img src="data/gallery/img2.jpg" alt="gallery" title="gallery">
        </div>
        <div class="gallery__info">
          <div class="gallery__title">Our awesome image</div>
          <div class="gallery__text">
            <p>
              Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
              Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur
              aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci
              dunt. Cras ultricies ligula sed magna dictum porta. Curabitur non
              nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien
              massa, convallis a pellentesque nec, egestas non nisi. Mauris blan
              dit aliquet elit, eget tincidunt ni dictum porta.
            </p>
          </div>
          <a href="" class="gallery__btn-link">View live</a>
        </div>
      </div>
      <div class="works-gallery">
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work4.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work5.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work6.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work7.jpg" alt="work" title="work">
        </a>
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work8.jpg" alt="work" title="work">
        </a>
      </div>
    </li>
    <li class="tabs-list__item tabs-list__item-fifth">
      <div class="gallery">
        <div class="gallery__image">
          <img src="data/gallery/img1.jpg" alt="gallery" title="gallery">
        </div>
        <div class="gallery__info">
          <div class="gallery__title">Our awesome image</div>
          <div class="gallery__text">
            <p>
              Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
              Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur
              aliquet quam id dui posuere blandit. Nulla porttitor accumsan tinci
              dunt. Cras ultricies ligula sed magna dictum porta. Curabitur non
              nulla sit amet nisl tempus convallis quis ac lectus. Praesent sapien
              massa, convallis a pellentesque nec, egestas non nisi. Mauris blan
              dit aliquet elit, eget tincidunt ni dictum porta.
            </p>
          </div>
          <a href="" class="gallery__btn-link">View live</a>
        </div>
      </div>
      <div class="works-gallery">
        <a href="#" class="works-gallery__link">
          <div class="works-gallery__overlay">
            <div class="works-gallery__overlay-title">Sample image</div>
            <div class="works-gallery__overlay-subtitle">Graphic design</div>
          </div>
          <img src="data/gallery/work1.jpg" alt="work" title="work">
        </a>
      </div>
    </li>
  </ul>
</div>
