<header class="header">
  <div class="header__holder">
    <div class="header__logo">
      <a href="/"></a>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="/" class="header__link active">Home</a>
        </li>
        <li class="header__item">
          <a href="/" class="header__link">Services</a>
        </li>
        <li class="header__item">
          <a href="/" class="header__link">Work</a>
        </li>
        <li class="header__item">
          <a href="/" class="header__link">About</a>
        </li>
        <li class="header__item">
          <a href="/" class="header__link">Clients</a>
        </li>
        <li class="header__item">
          <a href="/" class="header__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
