<div class="proud">
  <div class="proud__holder">
    <div class="proud__title">We are proud of these numbers</div>
    <div class="proud__text">
      Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere.
    </div>
    <div class="proud__list">
      <div class="proud__item">
        <div class="proud__number">1600</div>
        <div class="proud__name">Happy clients</div>
      </div>
      <div class="proud__item">
        <div class="proud__number">3200</div>
        <div class="proud__name">Complited projects</div>
      </div>
      <div class="proud__item">
        <div class="proud__number">40</div>
        <div class="proud__name">Awards</div>
      </div>
      <div class="proud__item">
        <div class="proud__number">20000</div>
        <div class="proud__name">Cofee drinks</div>
      </div>
    </div>
  </div>
</div>
